*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(249, 243, 247);
}

#main{
    margin: 0;
    padding: 0;
    min-height: 740px;  
}

#left-main{
    margin: 0;
    padding: 0;
    width: 50%;
    min-height:900px;   
    float: left;
    background-image:url('https://images.unsplash.com/photo-1593164842264-854604db2260?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8WW9nYXxlbnwwfDF8MHx8fDI%3D&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: 200px;
}

#right-main{
    margin: 0;
    padding: 0;
    width: 50%;
    min-height: 740px;
    float:right;
}
#information{
    position: relative;
    left: 30%;
    top: 150px;
}

