<!DOCTYPE html>
<html>
<head>
    <title>Medical Information</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/homePage1.css">

</head>
<body>
    <div id="main">
        <div id="header">
            <nav class="navbar navbar-expand-lg">
                <h1>AYU</h1>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <button class="btn mr-2 text" onclick="editMedicalInfo()"><b>Edit</b></button>
                        </li>
                        <li class="nav-item text ">
                            <a href="/logout" class="btn "><b>Logout</b></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
            
            <div id="content">
                    <div class="container mt-4">
                        <!-- Replace "John Doe" with the user's actual name (you can retrieve it from a database or input) -->
                        <h2 id="message">Welcome {{data['name']}}!!</h2>
                        {% with messages=get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                <p>{{message}}</p>
                                {% endfor %}
                            {% endif %}
                            {% endwith %}
                        <div class="row mt-4" >
                            <div class="col-md-6" id="information">
                                <h4  >Medical Information:</h4>
                                <ul class="list-group">
                                    <li class="list-group-item"><strong>Height:</strong><i>{{data['height']}}</i></li>
                                    <li class="list-group-item"><strong>Weight:</strong><i>{{data['weight']}}</i></li>
                                    <li class="list-group-item"><strong>Blood Group:</strong><i>{{data['bloodGroup']}}</i></li>
                                    <li class="list-group-item"><strong>Diseases:</strong><i>{{data['diseases']}}</i></li>
                                    <li class="list-group-item"><strong>Other Medical Information:</strong><i>{{data['additionalInfo']}}</i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>
        
    </div>
    

    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    
</body>
</html>
